
# how to use
#   1. copy this file and name the copy .env
#   2. this 'env.example' file is just an example, so don't put real passwords/keys in here
#       this one is committed to GitHub so everyone has an example at start
#   3. these variables are just examples, will probably need most of them and will add more 
#      in the future

# database (MySQL on aws RDS) - get values from Ford...? Idek
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

SESSION_SECRET=


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=